*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    color: white;
    height: 4rem;
    padding:5px 0 0 5px;


}

.container{
    padding: 40px;
  
    display: flex;
    justify-content: center;
}
#gameboard{
 display: grid;
 grid-template-rows: repeat(3,10vw);
 grid-template-columns:  repeat(3,10vw);
}

.box{
    border: 1px solid;

    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 6rem;
    padding: 12px;
}
#statement{
    font-size: 4rem;
    margin-left: 3rem;
}
#restart{
    margin-left: 3rem;
    width: 9rem;
    height: 4rem;
    font-size: 2rem;
    background-color: black;
    color: white;
}
#restart:hover{
    box-shadow:0 5px 50px 0 black ;
}
.box:hover{
    background-color: rgba(84, 6, 84, 0.512);
}
.br{
    border-right: 0 ;
}
.bt{
    border-top: 0;
}
.bl{
    border-left: 0;
}
.bb{
    border-bottom: 0;
}
